*.fasl
*.class
*.cache
*~
#*
*.DS_Store
cl-robdd-scala/.bloop
cl-robdd-scala/.bsp
cl-robdd-scala/project/project
cl-robdd-scala/.idea
cl-robdd-scala/.metals
cl-robdd-scala/.vscode
cl-robdd-scala/project/.bloop
cl-robdd-scala/project/project/.bloop
cl-robdd-scala/project/target
cl-robdd-scala/target
cl-robdd/src/.idea
cl-robdd/src/.nrepl-port
cl-robdd-scala/.scalafmt.conf
